/* 
    Denne CSS'en er kun lagt til for å gi litt design til nettsiden, men er ikke målet med forelesningen. JavaScript er hensikten med emnet. 
*/

.wrapper{
    border: 1px solid;
    display: inline-block;
    width: 440px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    h1{
        margin: 0 0 0.5rem 0;
    }
}

body{
    font-family: sans-serif;
}

.gold-coin{
    width: 1.1rem;
}

.product-section{
    display: flex;
    gap: 5rem;
    text-align: center;
    h3, p{
        margin: 0.1rem;
    }
}

.product-image{
    width: 6rem;
    display: block;
    margin: auto;
}

#output-div{
    margin-top: 2rem;
}

#output-div img{
    width: 3rem;
}